.bg-mycolor{
    background:#4f0e0e;
    }
    .text1-mycolor{
    color:#4f0e0e;
    }
    .text-mycolor{
    color:white;
    }
    .s-icon:hover{
    background:#d9dadf;
    color:#07535c;
    }
    .navbar{
    background:#d9dadf;
    }
    
    .s1{
    min-height:300px;
    }
    .s2{
    min-height:400px;
    }
    
    
    
    
    
    
    