{% extends 'admin/dashboard.html' %}
{% load static %}
{% block x %}
<style>
    .pic
    {
    height:300px;
    }
    .pic:hover
    {
    box-shadow:0px 0px 8px #4f0e0e;
    }
</style>
<div class="fs-2 text-center">ATTENDANCE<b style="color:#4f0e0e;">&nbspPANNEL</b></div>  
<hr>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row pt-4">
           <div class="col-sm-4 pt-5 ms-5">
                <!--start card-->
                <div class="card w-100 h-100 ">
                   <img src="{% static 'images/staff.jpg' %}" class="card-img-top  pic" alt="...">
                     <div class="card-body">
                       <a href="/attendance/staffattendance/"> <h5 class="card-title text-center">STAFF ATTENDANCE</h5></a>
                        
                     </div>
                 </div>
                <!--end card-->
            </div>
            <div class="col-sm-4 pt-5 ms-5">
                <!--start card-->
                <div class="card w-100 h-100 ">
                   <img src="{% static 'images/student.jpg' %}" class="card-img-top  pic" alt="...">
                     <div class="card-body">
                        <a href="/studentAttendance/">  <h5 class="card-title text-center">STUDENT ATTENDANCE</h5></a>
                        
                     </div>
                 </div>
                <!--end card-->
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}