{% extends 'admin/dashboard.html' %}
{% load static %}
{% block x %}


<div class="fs-2 text-center">MESSAGE<b style="color:#4f0e0e;">&nbspPANNEL</b></div>  </hr>
<form>
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">MESSAGE PANNEL</h3>
      
                  <form class="px-md-2">
      
                    <div class="form-outline mb-4">
                        <label for="exampleDatepicker1" class="form-label">Write a Message:</label>
                      <textarea type="text" id="form3Example1q" class="form-control" ></textarea>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline datepicker">
                            <label for="exampleDatepicker1" class="form-label">Select a date:</label>
                          <input type="date" class="form-control" id="exampleDatepicker1" />
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      <label name="select">select:</label>
                        <select class="select">
                          <option value="1" disabled>message type</option>
                          <option value="2">STUDENT</option>
                          <option value="3">STAFF</option>
                          <option value="4">ALL</option>
                        </select>
      
                      </div>
                    </div>
      
      
                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                      <div class="col-md-6">
      
      
                      </div>
                    </div>
      
                    <button type="submit" class="btn btn-success btn-lg mb-1 w-100">SEND MESSAGE</button>
      
                  </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</form>
{% endblock %}