{% extends 'base.html' %}
{% load static %}

{% block title %}
IMAGE NEWS
{% endblock %}

{% block x %}
<style>
    .pic
    {
    height:300px;
    }
    .pic:hover
    {
    box-shadow:0px 0px 8px #4f0e0e;
    }
    .zoom {
  animation: scale 10s linear infinite;
}
  
@keyframes scale {
  50% {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
  }
}
</style>
<div class="fs-2 text-center">Image<b style="color:#4f0e0e;">&nbspGallery <i class="fa-solid fa-image"></i></b></div>  
<hr>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row pt-4">
            <div class="col-sm-4 pt-3">
                <!--start card-->
                <div class="card w-100 h-100 ">
                   <img src="{% static 'images/logo.jpg' %}" class="card-img-top  pic zoom" alt="...">
                     <div class="card-body">
                        <h5 class="card-title text-center">{{x.gname}}</h5>
                     </div>
                 </div>
                <!--end card-->
            </div>
            {% if data %}
            {% for x in data %}
            <div class="col-sm-4 pt-3">
                <!--start card-->
                <div class="card w-100 h-100 ">
                   <img src="/{{x.gpic}}" class="card-img-top  pic" alt="...">
                     <div class="card-body">
                        <h5 class="card-title text-center">{{x.gname}}</h5>
                     </div>
                 </div>
                <!--end card-->
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}