{% extends 'base.html' %}
{% load static %}

{% block title %}
VIDEO
{% endblock %}

{% block x %}
<div class="fs-2 text-center">Video<b style="color:#4f0e0e;">&nbspGallery <i class="fa-solid fa-video"></i></b></div>  

<div class="row mt-4 mb-4"></div>
<div class="row">
    {% for x in vdata %}
    <div class="col-sm-4">
        <!--start card-->
        <div class="card">
          <iframe width="560" style="max-height:250px;"  class=" card-img-top" height="315" src="{{x.vlink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
            <h5 class="card-title">{{x.vhead}}</h5>
                
               
               <span class="float-end"><i class="fa-solid fa-calendar-days"></i> Date:{{x.vdate}}</span>
         </div>
        </div>
        <!--end card-->
    </div>
     {% endfor %}
</div>
{% endblock %}